table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td:first-child > img {
  margin-left: auto;
}
