.filter__wrapper {
  width: 25.6rem;
}

.filter__title {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--custom-text-black-fade-primary);
  padding: 2rem 0;
}

.filter__checkbox {
  display: flex;
  color: var(--custom-text-black-fade-secondary);
  font-family: "Lato";
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}
