.product__nav {
  display: flex;
}

.product__home-btn {
  margin-left: 0;
  margin-right: 0;
  height: 5rem;
}

.product__title {
  margin: auto;
}

.product__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
