.product__nav {
  display: flex;
  flex-direction: column;
}

.product__home-btn {
  align-self: flex-start;
}

.product__title {
  align-self: center;
}

.product__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
