.nav__searchbar {
  background-color: var(--custom-bg-gray-primary);
  border-radius: 4px;
  width: 100%;
  max-width: 34.4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
}

.nav__searchbar--input {
  background-color: var(--custom-bg-gray-primary);
  border: none;
  padding: 0 1rem;
  width: 100%;
}

.nav__searchbar--input::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--custom-text-black-fade-tertiary);
}

.nav__searchbar--input:focus {
  outline: none;
  caret-color: var(--custom-blue-primary);
  color: var(--custom-text-black-fade-primary);
}
