.header {
  display: flex;
  background-color: var(--custom-bg-gray-primary);
}

.header__logo {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.header__logo > img {
  width: 8rem;
  height: 100%;
  object-fit: cover;
}

.header__container {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  padding: 0 2rem;
  color: var(--custom-text-gray-primary);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 2.8rem;
}

.header__author {
  padding: 0 3rem;
  color: var(--custom-text-black-fade-secondary);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
