.nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--custom-gray-bg-light);
  padding: 0 2rem;
}

.nav__searchbar {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  background-color: var(--custom-gray-bg-light);
  display: flex;
  align-items: center;
  border-radius: 6rem;
  padding: 1rem 2rem;
}

.nav__searchbar--input {
  padding: 0 1rem;
}

.nav__searchbar--submit {
  border: 0;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background: transparent;
}

.nav__searchbar--reset {
  border: 0;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background: transparent;
}

.nav__searchbar--submit img {
  width: 2.5rem;
}

.nav__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__container > * {
  padding: 0 2rem;
  outline: none;
  border: none;
  background: none;
}

.nav__view--list {
  display: flex;
  align-items: center;
}

.nav__view--grid {
  display: flex;
  align-items: center;
}

/* .nav__searchbar--submit {
  position: relative;
  padding: 15px;
  color: #eee;
  font-size: 13px;
  background-color: #666;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 200ms ease-out;
}

.nav__searchbar--submit:hover {
  background-color: #fff;
} */
