.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product__details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 46.4rem;
  padding: 0 3.2rem;
}

.product__details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--custom-border-gray-primary);
}

.product__detail {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--custom-text-black-fade-secondary);
}

@media (max-width: 450px) {
  .product {
    flex-direction: column;
  }
}
